:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  height: 50px;
  margin-top: -50px;
  background-color: #222222;
  color:white;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.album {
  margin-top:100px;
}

.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.wrapper_top {
  margin-top:60px;
}

.bottom_wrapper {
  margin-top:50px;
  margin-bottom:100px;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

.thumbnail>img {
  max-height: 300px;
  height: 100%; 
  width: 100%; 
  display: block;
}

.footer_wrapper {
  text-align:center; 
  padding-top:15px;
  text-decoration: none;
}

.timeText {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  color:white;
  right: 12px;
  top: 12px;
  padding:7px;
  background-color:black;
}

